h1 {
    color: #191970;
    font-family: 'Harlow Solid Italic', 'Magneto', 'Sans Serif';
    font-size: 48px;
    text-align: center;
}
p {
    font-family: Georgia, 'Times New Roman', Times, Serif;
    font-size: 32px;
    color: darkslategrey;
}
h2 {
    font-family: 'Cambria', Georgia, Serif;
    color: black;
    font-size: 24px;
   
}
h3 {
    font-family: 'Times New Roman', Times, Serif;
    color: dodgerblue;
    font-size: 16px;
}
