h1 {
    color: #191970;
    font-family: 'Harlow Solid Italic', magneto, 'Sans Serif';
    font-size: 48px;
    text-align: center;
    background-color: #DCDCDC;
    padding: 3px;
    
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    color: darkslategrey;
}
h2 {
    font-family: cambria, georgia, serif;
    color: black;
    font-size: 24px;
   
}
h3 {
    font-family: 'Times New Roman', Times, serif;
    color: dodgerblue;
    font-size: 16px;
}